.search-form {
  padding-top: 75px;
  padding-bottom: 50px;
  display: grid;
  row-gap: 40px;
  grid-template-columns: 1fr min-content;
  grid-template-areas:
    'input button'
    'checkbox checkbox';
}

.search-form::after {
  content: '';
  display: block;
  border-bottom: 1px solid var(--on-surface-variant-secondary);
  grid-column: 1 / span 2; 
  margin-top: 15px;
}

@media (min-width: 768px) {
  .search-form {
    padding-top: 67px;
    padding-bottom: 60px;
    row-gap: 30px;
  }
}

@media (min-width: 1280px) {
  .search-form {
    padding-bottom: 47px;
    row-gap: 27px;
    padding-top: 70px;
  }
}

.search-form__input {
  grid-area: input;
  grid-column: 1/-1;
  border: none;
  border-radius: 8px; /* Закругление углов */
  border: 1.5px solid var(--border-search); /* Сплошная рамка */
  opacity: 0.2; /* Прозрачность */
  padding-block: 15px;
  transition: border-bottom-color 0.3s;
  padding-right: 60px; /* Space for input button */
  /* Текст */
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--on-surface);
  background-color: transparent; /* Убираем белый фон */
  padding-left: 24px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .search-form__input {
    padding-block: 13px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
}

.search-form__input:focus {
  border-bottom-color: var(--primary);
  outline: none;
}

.search-form__input::placeholder {
  color: var(--on-surface-variant);
}

.search-form__checkbox {
  grid-area: checkbox;
  justify-self: center;
}

@media (min-width: 768px) {
  .search-form__checkbox {
    justify-self: end;
  }
}

@media (min-width: 1280px) {
  .search-form__checkbox {
    justify-self: start;
  }
}

.search-form__button {
  /* Расположение */
  grid-area: button;
  align-self: center;
  /* Сброс */
  cursor: pointer;
  border: none;
  background-color: var(--secondary);
  color: var(--on-secondary);
  /* Размеры */
  padding: 17px 28px;
  border-radius: 5px;
  /* Текст */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* Анимация */
  transition: opacity 0.3s, transform 0.3s;
  margin: 10px;
}

.search-form__button:hover {
  opacity: 0.8;
}

.search-form__button:active {
  transform: scale(0.9);
}
